<!DOCTYPE html>
<html x-ng-app "">
<head>
	<link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="angtic.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>

</head>
<body>

	<div x-ng-controller="boardCtrl">

		<div ng-repeat="box in boxes track by $index" ng-class="{cell:true, clear: $index % 3 == 0} x-ng-click="takeTurn($index)">


		</div>



	</div>

</body>
</html>